{% extends "base.html" %}
{% block titulo %}Alteração de Categoria{% endblock %}
{% block conteudo %}
<h1>Alteração de Categoria</h1>
<hr>
<form method="post" class="row">

    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nome" id="nome" placeholder=" " value="{{categoria.nome}}"/>
            <label for="nome">Nome</label>
        </div>
    </div>
    <div class="col-6">
        <a href="/admin/alterar_categoria" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
    </div>
</form>
{% endblock %}