{% extends "base.html" %}
{% set admin_active = "active" %}
{% block titulo %}Administração de Produtos{% endblock %}
{% block conteudo %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Administração de Produtos</h1>
    <a href="/admin/inserir_categoria" class="btn btn-primary">Nova Categoria</a>
    <p>.</p>
    <a href="/admin/lista_categorias" class="btn btn-primary">Editar Categorias</a>
    <p>.</p>
    <a href="/admin/inserir_produto" class="btn btn-primary">Novo Produto</a>
</div>
<hr>
<table class="table table-striped table-hover table-sm table-produtos">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in lista_categorias %}
        <tr>
            <td>{{categoria.nome}}</td>
            <td>
                <a href="/admin/alterar_categoria/{{categoria.id}}" class="btn btn-outline-success">
                    <i class="bi bi-pen"></i>
                </a>
                <a href="/admin/excluir_categoria/{{categoria.id}}" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}